
.center {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

.hvcenter {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.title {
  padding: 20px;
  color: #ddd;
}

a:link, a:visited  {
  color: #ddd;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.border {
  border-top: outset;
  width: 100%;
  margin-top: 10px;
}

.text-left {
  text-align: justify;
}

.selected {
  background-color: #252525;
  padding-top: 10px;
}

.nav-link {
  width: 30%;
}

.bio {
  text-align: justify;
  text-indent: 50px;
}

.bio-img {
  display: block;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

nav {
  margin-bottom: -10px;
  margin-left: 15px;
  margin-right: 15px;
}

body {
  background-color: #212121;
  color: #ddd;
  width: 80%;
}

ul {
  display: table;
  margin: 0 auto;
}

footer {
  padding: 20px;
}
