
.center {
  text-align: center;
  margin: 0 auto;
}

.title {
  padding: 20px;
}

.border {
  border-top: outset;
  width: 100%;
}

.text-left {
  text-align: justify;
}

body {
  background-color: #212121;
  color: #ddd;
  width: 80%;
}

footer {
  padding: 20px;
}


