
.center {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

.hvcenter {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.title {
  padding: 20px;
  color: #ddd;
}

a:link, a:visited  {
  color: #ddd; 
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.border {
  border-top: outset;
  width: 100%;
  margin-top: 10px;
}

.text-left {
  text-align: justify;
}

body {
  background-color: #212121;
  color: #ddd;
  width: 80%;
}

nav {
  /*text-align: right;*/
  /*display: inline-flex;*/
}

ul {
  display: table;
  margin: 0 auto;
}

footer {
  padding: 20px;
}


